<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel E2E Scenarios Execution" parallel="methods" thread-count="4">
    <test name="Cucumber E2E Tests">
        <classes>
            <class name="TestRunner"/>
        </classes>
    </test>
</suite>